.alert-fixed {
    cursor: pointer;
    border-radius: 0;
    border: 0;
    font-weight: bold;
    position: fixed;
    text-align: center;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 500;
}

.alert-fixed.alert-danger {
    background-color: rgba($state-danger-bg, 0.9);
}

.alert-fixed.alert-info {
    background-color: rgba($state-info-bg, 0.9);
}

.alert-fixed.alert-success {
    background-color: rgba($state-success-bg, 0.9);
}
