body {
    padding-top: 70px;
}

code {
    background: inherit;
    color: #000;
}

a.action {
    color: #666;
    font-size: 0.9em;
    margin-right: 6px;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}

.navbar-nav .fa {
    margin-right: 6px;
}

ul.dropdown-menu .fa {
    margin-right: 0;
}

.nav-search-label {
    cursor: pointer;
}

.page-heading {
    margin-top: 0;
}

// With label's page in mind
.page-heading em {
    font-style: normal;
    font-weight: 300;
}

.app-error {
    color: #D5D5D5;
    text-align: center;
}
