.notes-container {
    background: $codice-body;
}

.note {
    background-color: #fff;
    margin-bottom: 20px;

    .note-body {
        padding: 15px;
    }

    .note-footer {
        color: #98978b;
        background-color: $codice-body;
        border-top: 1px solid #ddd;
        font-size: 0.8em;
        font-weight: 500;
        padding: 10px 15px;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: none;
        }
        a:hover {
            color: #555;
        }

        .fa-clock-o {
            margin-right: 2px;
        }
    }
}

.note-default .note-body {
    margin-left: 8px;
}

.note-danger .note-body {
    border-left: 8px solid $codice-danger;
}

.note-info .note-body {
    border-left: 8px solid $codice-info;
}

.note-success .note-body {
    border-left: 8px solid $codice-success;
}

.note-warning .note-body {
    border-left: 8px solid $codice-warning;
}

.note-buttons {
    @extend .hidden-print;
    @extend .pull-right;
    display: none;

    a:not(:last-child) {
        margin-right: 8px;
    }
}

.note:hover .note-buttons,
.note-single .note-buttons {
    display: block;
}


// Mobile styling for .note-buttons
// @todo: increase click area
@media (max-width: $screen-sm) {
    .note-buttons {
        display: block;
    }
}

@media (max-width: $screen-xs) {
    .note-buttons {
        a:not(:last-child) {
            margin-right: 14px;
        }

        .text {
            display: none;
        }
    }
}

.note-labels {
    @extend .list-inline;
    @extend .pull-right;
    margin-top: -18px;
    margin-right: -10px;
    font-size: 1.1em;

    li {
        padding-left: 2px;
        padding-right: 2px;
    }

    .label {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.note-content.has-labels {
    margin-top: 13px;
}
