@mixin depth($index) {
    box-shadow: 0 $index * 2px $index * 3px rgba(0,0,0,.1),
                0 0            $index * 3px rgba(0,0,0,.1);
    padding: 20px;
}

.plugin {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 14px;
    transition: .1s ease-in-out opacity,
                .2s ease-in-out box-shadow;
    @include depth(1);

    &:hover {
        @include depth(2);
    }
}

.plugin-disabled,
.plugin-not-installed {
    opacity: .65;
    &:hover {
        opacity: 1;
    }
}

    .plugin-header {
        margin: 0;
        line-height: 48px;
        font-weight: lighter;
    }

        .plugin-header .shield {
            display: inline-block;
            margin-bottom: -.3em;
            margin-right: .3em;
            margin-left: .3em;
        }

        .plugin-version {
            color: #999;
            display: inline-block;
            margin-left: .2em;
        }

    .plugin-description {
        font-size: 1.2em;
    }

    .plugin-control {
        @extend .btn;
    }

    .plugin-control-enable,
    .plugin-control-disable {
        text-transform: uppercase;
        font-size: .9em;

        @extend .btn-default;
    }

    .plugin-control-enable:hover,
    .plugin-control-enable:focus {
        @extend .btn-info;
    }

    .plugin-control-disable:hover,
    .plugin-control-disable:focus {
        @extend .btn-danger;
    }

.shield  {
    display: inline-block;
    font-size: 1.6rem;

    @extend .clearfix;
}

    .shield-left,
    .shield-right,
    .shield-only {
        @extend .label;
    }

    .shield-left {
        float: left;
        padding: .6em .7em .6em .8em;
        text-transform: lowercase;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .shield-right {
        float: right;
        padding: .6em .8em .6em .7em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .shield-only {
        padding: .6em .8em .6em .8em;
        float: left;
        text-transform: uppercase;
    }

.label-light {
    background: #999c9f;
    color: #fff;
}

.label-muted {
    background: #eee;
    color: #888;
}

.btn-trigger {
    background: transparent;
    color: #999;
    outline: none !important;

    &:hover {
        color: #666;
        background: #eee;
    }

    &:active,
    &:focus {
        background: #999;
        color: #fff;
    }
}

.popover.bottom > .arrow::after {
    border-bottom-color: #f7f7f7;
}
