body {
  background-color: $codice-body;
  padding-top: 70px;
}

code {
  background: inherit;
  color: #000;
}

a.action {
  color: #666;
  font-size: 0.9em;
  margin-right: 6px;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.navbar {
  border: 0;
}

.navbar-nav .fa {
  margin-right: 6px;
}

ul.dropdown-menu .fa {
  margin-right: 0;
}

.nav-search-label {
  cursor: pointer;
  margin: 0;
  padding: 15px;

  &:hover {
    background: $codice-navbar-hover-bg;
  }
}

.navbar-form {
  button {
    padding-top: 7px;
  }
}

@media (max-width: $screen-sm) {
  .nav-search-label {
    display: none !important;
  }

  .navbar-form {
    display: block !important;
  }
}

// Styles for page headings
.page-heading {
  background-color: white;
  border-left: solid 8px;
  font-weight: 300;
  margin-top: 0;
  padding: 10px 0 10px 15px;

  &.danger {
    border-color: $codice-danger;
  }
  &.info {
    border-color: $codice-info;
  }
  &.primary {
    border-color: $brand-primary;
  }
  &.success {
    border-color: $codice-success;
  }
  &.warning {
    border-color: $codice-warning;
  }
}

// With label's page in mind
/*.page-heading em {
  font-weight: 300;
}*/

.page-heading-aside {
  color: #999;
  font-size: 14px;
  letter-spacing: .12em;
  margin-left: 5px;
  text-transform: uppercase;

  a {
    color: inherit;
  }

  a:hover {
    color: #000;
    text-decoration: none;
  }
}

.codice-container {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 20px;

  &.no-bottom-margin {
    margin-bottom: 0;
  }
}

.app-error {
  color: #D5D5D5;
  text-align: center;
}

noscript.alert-fixed {
  cursor: default;
}
