body#login {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-login {
  max-width: 330px;
  padding: 30px;
  margin: 0 auto;
  background: $codice-success;
  border-radius: 10px;
}

.form-login-heading {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.form-login .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}

.form-login button {
  background-color: $codice-success-hover;
  color: #fff;
  margin-bottom: 10px;
}

.form-login a {
  color: white;
}

.alert-login {
  position: fixed;
  top: 0 !important;
}
