// Codice brand colors
$codice-body:    #e1f0d7;
$codice-danger:  #e6262e;
$codice-info:    #74a0db;
$codice-success: #68b92c;
$codice-success-hover: #519022;
$codice-warning: #f6af00;
$codice-navbar-hover-bg: $codice-success-hover;

// Customize bootstrap using variables
$alert-danger-text:  #fff;
$alert-info-text:    #fff;
$alert-success-text: #fff;
$alert-warning-text: #fff;

$brand-danger:  $codice-danger;
$brand-info:    $codice-info;
$brand-success: $codice-success;
$brand-warning: $codice-warning;

$font-family-base: 'Roboto', sans-serif;

$navbar-inverse-bg: $codice-success;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-brand-hover-bg: $codice-navbar-hover-bg;
$navbar-inverse-link-hover-bg: $codice-navbar-hover-bg;
$navbar-inverse-toggle-hover-bg: $codice-navbar-hover-bg;
$navbar-inverse-toggle-border-color: #fff;
$navbar-inverse-toggle-icon-bar-bg: #fff;

$state-danger-bg:  $codice-danger;
$state-info-bg:    $codice-info;
$state-success-bg: $codice-success;
$state-warning-bg: $codice-warning;

$panel-default-border: #DFD7CA;
$panel-default-heading-bg: #F8F5F0;
$panel-footer-bg: #F8F5F0;
